{% load widget_tweaks %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

</head>
<body>
<h2 align="center" class="text-danger">SignUp</h2>
<form action="" method="post" style="width: 30%" class="container">
    {% csrf_token %}
    <div class="form-floating mb-3">
        {% render_field form.username|attr:"autofocus" placeholder="username" id="UserNameInput" %}
        <label for="UserNameInput" class="form-label">UserName</label>
        {{ form.username.errors }}
    </div>
    <div class="form-floating mb-3">
        {% render_field form.email placeholder="name@example.com" id='emailfield' %}
        <label for="emailfield" class="form-label">Email</label>
    </div>
    <div class="form-floating mb-3" style="width:40%;margin-left: 30px;">
        {% render_field form.age placeholder="Your Age" id='agefield' %}
        <label for="agefield" class="form-label">Age</label>
    </div>
    <div class="form-floating mb-3">
        {% render_field form.password id='passfield' placeholder="password" %}
        <label for="passfield" class="form-label">Password</label>
    </div>
    <div class="form-floating mb-3">
        {% render_field form.password2 placeholder='Confirm Password' id='pass2field' %}
        <label for="pass2field" class="form-label">Confirm Password</label>
    </div>
    {{ form.non_field_errors }}
    <button type="submit" class="btn btn-success">SignUp</button>

</form>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>